name: CI
on: [pull_request]

jobs:
  node-version:
    timeout-minutes: 5
    permissions:
      contents: read
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.node-version.outputs.result }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      # This is a container action, so only linux can be used
      - id: node-version
        uses: mikefarah/yq@6251e95af8df3505def48c71f3119836701495d6 # v4.47.2
        with:
          cmd: yq '.runs.using | sub("^node", "")' action.yml

  lint:
    needs: node-version
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.53.9
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: ${{ needs.node-version.outputs.result }}
          cache: npm
      - name: Install Node.js dependencies
        run: |
          npm ci
      - name: Run node lint
        id: node-lint
        continue-on-error: false
        run: |
          npm run lint
      - name: Run ghalint for action.yml
        id: ghalint
        continue-on-error: false
        run: ghalint act
      - name: Error handling
        if: ${{ steps.node-lint.outcome == 'failure' || steps.ghalint.outcome == 'failure' }}
        run: |
          echo "Linting errors found"
          exit 1

  test:
    timeout-minutes: 10
    needs: node-version
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: ${{ needs.node-version.outputs.result }}
          cache: npm
      - name: Install Node.js dependencies
        run: |
          npm ci
      - name: Run test
        run: |
          npm run test
      - name: Run package
        run: |
          npm run package
      - name: Run action
        uses: ./
        id: system-info
      - name: Show action outputs
        run: |
          echo '${{ toJSON(steps.system-info.outputs) }}'
