name: Release
on:
  push:
    branches:
      - master

jobs:
  package:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: true # For pushing package
      - id: node-version
        uses: mikefarah/yq@7ccaf8e700ce99eb3f0f6cef7f5930a0b3c827cd # v4.49.2
        with:
          cmd: yq '.runs.using | sub("^node", "")' action.yml
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ steps.node-version.outputs.result }}
          cache: npm
      - name: Install Node.js dependencies
        run: |
          npm ci
      - name: Create a GitHub Actions package
        run: |
          npm run package
      - name: Push package
        run: |
          git config --local user.email "1155067+kenchan0130@users.noreply.github.com"
          git config --local user.name "kenchan0130"
          git remote set-url origin "https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}"
          git add -N .
          if git diff --exit-code --quiet;then
            echo "No change."
          else
            git add .
            git commit -m "[skip ci] Create package by ${GITHUB_SHA}"
            git push origin master
          fi
  tagpr:
    needs: package
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: master
          persist-credentials: true # tagpr require this credential
      - id: tagpr
        uses: Songmu/tagpr@75738aa2880a03a1036bc5bd90ef49853427ec65 # v1.10.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
