name: Release
on:
  push:
    branches:
      - master

jobs:
  package:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: true # For pushing package
      - id: node-version
        uses: mikefarah/yq@6251e95af8df3505def48c71f3119836701495d6 # v4.47.2
        with:
          cmd: yq '.runs.using | sub("^node", "")' action.yml
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ steps.node-version.outputs.result }}
          cache: npm
      - name: Install Node.js dependencies
        run: |
          npm ci
      - name: Create a GitHub Actions package
        run: |
          npm run package
      - name: Push package
        run: |
          git config --local user.email "1155067+kenchan0130@users.noreply.github.com"
          git config --local user.name "kenchan0130"
          git remote set-url origin "https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}"
          git add -N .
          if git diff --exit-code --quiet;then
            echo "No change."
          else
            git add .
            git commit -m "[skip ci] Create package by ${GITHUB_SHA}"
            git push origin master
          fi
  tagpr:
    needs: package
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: master
          persist-credentials: true # tagpr require this credential
      - id: tagpr
        uses: Songmu/tagpr@ebb5da0cccdb47c533d4b520ebc0acd475b16614 # v1.7.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
